/* App.css */

.App-header {
  background-color: var(--navy-blue);
  color: var(--dark-gray);
  padding: 20px;
  text-align: center;
}

.tabs, .subtabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  margin-right: .5rem;
  padding-left:.5rem;
  padding-right:.5rem;
  font-size:.9rem;
  border-radius:.3rem;
  border:none;
  cursor:pointer;
}

.active-tab, .active-subtab {
  background-color: var(--red);
  color: var(--white);
}